@using System.Security.Principal
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospRec</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?version=1.0.1" />    
</head>
<body>
    <header>
        <div></div>
            <nav class="navbar">
                <!--<h1>Home</h1>-->
                <div class="navbar">
                    <img src="~/images/Logo.png" width="130" height="150" alt="Logo Image">
                    <nav>
                        <ul class="nav-main">                                                                                                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                // Doctor Nav bar
                                string username = User.Identity.Name;
                                int i = username.IndexOf("@");
                                if (i > 0)
                                {
                                    username = username.Substring(0, i);
                                }

                                <li><a href="/index">Home</a></li>
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/calander">Calander</a></li>

                                <!-- 
                                    . Even out the spacing between links in drop-content
                                    . fix width hover color links
                                    . centre dropdown-content relative to nav link (optional)
                                    . fix color on click btndrop
                                    . refactor css, js, html for better naming
                                -->
                                <!-- Dropdown Search -->
                                <li class="dropdown">
                                    <a class="dropbtn search" id="dropSearch" href="#">Search</a>
                                    <div id="dropdown-search" class="dropdown-content">
                                        <a href="/searchPatient">Patient</a>
                                        <a href="/searchPatientRecord">Records</a>
                                    </div>
                                </li>

                                <!-- Dropdown Add -->
                                <li class="dropdown">
                                    <a class="dropbtn add" id="dropAdd" href="#">Add</a>
                                    <div id="dropdown-add" class="dropdown-content">
                                        <a href="/createPatient">Patient</a>
                                        <a href="/createPatientRecord">Record</a>
                                    </div>
                                </li>

                                //signout and name
                                <li class="nav-item">
                                    <div class="nav-hello-user">
                                        Hello @username!    
                                    </div>
                                    <a class="nav-signout" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                                        Sign out
                                    </a>                                    
                                </li>

                            }
                            else
                            {
                                //user not login
                                <li><a href="/index">Home</a></li>
                                <li><a href="/other">Demo</a></li>
                                <li><a href="/about">About</a></li>
                                <li class="login"><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Login</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </nav>
    </header>
    <div class="container">
        <main class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - HospRec - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
