@page "/create"
@model HospRec.Pages.createPatientModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Hospital Project" />
    <meta name="Keywords" content="JS, CSS, HTML" />
    <meta name="author" content="Group 8" />
    <title>Add Patient</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div>
        <!-- body contents -->
        <form id="regForm" method="post" action="" novalidate="novalidate">
            <fieldset>                
                <legend>Patient Details</legend>                
                <p>
                    <!-- textInput first name -->
                    <label for="firstName">First Name</label>
                    <input asp-for="Patient.firstName"/>
                    <span asp-validation-for="Patient.firstName" class="text-danger"></span>
                </p>
                <p>
                    <!-- textInput last name -->
                    <label for="lastName">Last Name</label>
                    <input asp-for="Patient.lastName"/>
                    <span asp-validation-for="Patient.lastName" class="text-danger"></span>
                </p>
                <p>
                    <!-- textInput phone number -->
                    <label for="phoneNumber">Phone Number</label>
                    <input asp-for="Patient.phoneNumber" placeholder="1234567890"/>
                    <span asp-validation-for="Patient.phoneNumber" class="text-danger"></span>
                </p>
                <p>
                    <!-- textInput email -->
                    <label for="email">Email</label>
                    <input asp-for="Patient.email" placeholder="example@mail.com"/>
                    <span asp-validation-for="Patient.email" class="text-danger"></span>
                </p>
                <p>
                    <!-- Gender-->
                    <label for="gender">Choose your gender:</label>
                    <select asp-for="Patient.gender">
                        <option value="-">-Select Gender-</option>
                        <option value='M'>Male</option>
                        <option value='F'>Female</option>
                        <option value='O'>Other</option>
                    </select>
                    <span asp-validation-for="Patient.gender" class="text-danger"></span>
                </p>
                <p>
                    <!-- date of birth -->
                    <label for="DOB">DOB</label>
                    <input asp-for="Patient.DOB" value="Patient.DOB" />
                    <span asp-validation-for="Patient.DOB" class="text-danger"></span>
                </p>
            </fieldset><br>
            <input type="submit" value="Create" />
            <input type="reset" value="Reset Form" id="reset" />
        </form>
    </div>
</body>
</html>