@page "/search"
@model HospRec.Pages.searchPatientModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Hospital Project" />
    <meta name="Keywords" content="JS, CSS, HTML" />
    <meta name="author" content="Group 8" />
    <title>Search Patient</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div>
            <form method="post">
                <p>
                    Search by:
                    <label>First Name</label>
                    <input type="text" name="firstName" id="firstName" size="15" required="" />
                    <label>Last Name</label>
                    <input type="text" name="lastName" id="lastName" size="15" required="required" />
                    <input type="submit" value="Search" />
                    <input type="reset" value="Reset Form" id="reset" />
                </p>
            </form>
            <div>

            </div>
        </div>
    </div>
</body>
</html>
