@page "/search"
@model HospRec.Pages.searchPatientModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Hospital Project" />
    <meta name="Keywords" content="JS, CSS, HTML" />
    <meta name="author" content="Group 8" />
    <title>Search Patient</title>
</head>
<body>
        <div>
            <form method="post">
                <p>
                    <strong>Search by:</strong> 
                    <br>
                    <label>First Name</label>
                    <input type="text" name="firstName" id="firstName" size="15" required="" />
                    <br>
                    <label>Last Name</label>
                    <input type="text" name="lastName" id="lastName" size="15" required="required" />
                    <br>
                    <input type="submit" value="Search" />
                    <input type="reset" value="Reset Form" id="reset" />
                </p>
            </form>
                <div class="grid_container_parent">
                    <strong class="results_strong">Results</strong>
                    <div class="flex_container_child no_hover">
                        <div class="grid_item" ><b>ID</b></div>
                        <div class="grid_item"><b>First Name</b></div>
                        <div class="grid_item"><b>Last Name</b></div>
                    </div>
                    @foreach (var p in Model.Patients.PatientList) 
                    {
                        <a asp-page="/patient" asp-route-patientID="@p.PatientID">
                            <div class="flex_container_child">
                                <div class="grid_item grid_item01">@p.PatientID</div>
                                <div class="grid_item grid_item02">@p.FirstName</div>
                                <div class="grid_item grid_item03">@p.LastName</div>
                            </div>
                        </a>
                     }
                </div> 
        </div>
</body>
</html>
