@page "/searchPatientRecord"
@model HospRec.Pages.SearchPatientRecordsModel
@{
}
<div class="grid-col-1-3">
    <div class="side-panel content content-form">
        <form method="post">
            <fieldset>
                <legend>Search by ID</legend>
                <label for="Record_ID">Record ID</label>
                <input asp-for="Record_ID" />
                <label for="Patient_ID">Patient ID</label>
                <input asp-for="Patient_ID" />
                <label for="Doctor_ID">Doctor ID</label>
                <input asp-for="Doctor_ID" />
            </fieldset>            
            <fieldset>
                <legend>Search by Name</legend>
                <label for="P_First_Name">Patient First Name</label>
                <input asp-for="P_First_Name" />
                <label for="P_Last_Name">Patient Last Name</label>
                <input asp-for="P_Last_Name" />
                <label for="D_First_Name">Doctor First Name</label>
                <input asp-for="D_First_Name" />
                <label for="D_Last_Name">Doctor Last Name</label>
                <input asp-for="D_Last_Name" />
            </fieldset>
            <input type="reset" value="Clear" class="btn"/>
            <input type="submit" value="Search" class="btn btn-submit float-left" />            
        </form>
    </div> 

    @if (Model.PatientRecords.Count != 0)    
    {          
        <div class="main-panel content content-table">
            <partial name="~/Pages/Shared/_patientRecordTable.cshtml" model="@Model" />
        </div>              
    } else if (Model.PatientRecords.Count == 0) {  
        <div class="main-panel content">
            <div class="content-message">
                <p class="message">Results Appear Here</p>
            </div>
        </div>
    } else {     
        <div class="main-panel content">
            <div class="content-message">
                <p class="message">@ViewData["Results"]</p>
            </div>
        </div>
    }
</div>