* {
    font-family: sans-serif;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}
h1 {
    margin: 0;
}

.navbar {
    width: 100%;
    margin: auto;
    background: #dfe3ee;
}

nav {
    margin-top: 10px;
    flex: 1;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 0 auto;
    padding: 7px 16px;
    background-color: #f7f7f7;
    margin-bottom: 50px;
    border-radius: 10px;
}
nav ul li a {
    color: grey;
}



form {
    margin: auto;
    margin-top: 2em;
    padding: 1em;
    border-radius: 10px;
    background: #dfe3ee;
    overflow: hidden;
}

label {
    width: 300px;
    display: inline-block;
}

input {
    border-radius: 10px;
    border: 3px solid white;    
}
input:hover {
    border: 3px solid grey;
}
select {
    display: block;
    border-radius: 10px;
    border: 3px solid white;
    padding: 1px 2px 1px 2px;
    width: 100%;
}
select:hover {
    border: 3px solid grey;
}

/* btn classes */
.btn {
    display: none;
    background-color: #8fa8df;
    color: white;
    border: none;    
    border-radius: 10px;
    width: 120px;
    height: 35px;
    padding:1px 2px 1px 2px;
}
.btn:hover {
    background-color: #3b5998;
    color: white;    
}
.btn-submit {
    background-color: #ce9191;
    color: white;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    padding:1px 2px 1px 2px;
    float: right;
}
.btn-submit:hover {
    background-color: #C14242;
}



@media screen and (max-width: 992px) {
    .navbar {
        flex-direction: column;
    }
}

nav {
    flex: 1;
}

.login{
    float:right;
}
/*search patient result grid*/
.grid_container_parent {
    display: grid;
    background: #dfe3ee;
}

.flex_container_child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.flex_container_child:hover {
    background-color: #BCC5DC;
    cursor: pointer;
}
.no_hover:hover {
    background-color: #dfe3ee;
    cursor: default;
}
.grid_item {    
    width: 50%;
    text-align: center;
    border: 1px solid #c1c1c1;
    padding: 1em;
}
.results_strong {
    padding: 1em;
}
/*Patient display grid*/
.margin {
    margin: 2em;
}
.nav-item {
    float:right;
}
.nav-name {
    padding-right: 1em;
    background: none;
}
.error {
    color: red;
}