
* {
    font-family: sans-serif;
}
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

.navbar {
    width: 100%;
    margin: auto;
    background: #dfe3ee;
}

nav {
    flex: 1;
}

nav ul li {
    display: inline;
    list-style: none;
    margin: 0 auto;
    padding: 7px 16px;
    background-color: #f7f7f7;
    margin-bottom: 50px;
}

form {
    margin-top: 2em;
    padding: 1em;
    background: #dfe3ee;
    border: 1px solid #c1c1c1;
    overflow: hidden;
}

label {
    width: 350px;
    display: inline-block
}

input[type=submit], input[type=reset] {
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    padding:2px 2px 2px 2px;
}
#cancel_form {
    background-color: #C14242;
    color: white;
    border: none;
    border-radius: 4px;
    width: 150px;
    padding: 2px;
    float: right;
}

@media screen and (max-width: 992px) {
    .navbar {
        flex-direction: column;
    }
}

nav {
    flex: 1;
}

.login{
    float:right;
}
/*search patient result grid*/
.grid_container_parent {
    display: grid;
    background: #dfe3ee;
}

.flex_container_child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.flex_container_child:hover {
    background-color: #BCC5DC;
    cursor: pointer;
}
.no_hover:hover {
    background-color: #dfe3ee;
    cursor: default;
}
.grid_item {
    width: 33.3%;
    text-align: center;
    border: 1px solid #c1c1c1;
    padding: 1em;
}
.grid_item01 {
    width: 50%;
    text-align: center;
    border: 1px solid #c1c1c1;
    padding: 1em;
}
.results_strong {
    padding: 1em;
}
/*Patient display grid*/
.margin {
    margin: 2em;
}
.nav-item {
    float: right;
}
.nav-name {
    padding-right: 1em;
    background: none;
}
.error {
    color: red;
}