/*Generated css*/

/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/


/*Our css*/

filename: styles
author: Group 8
created: 28/03/21
last modified: 28/03/21
description: style.css

* {
    font-family: sans-serif;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

.logo {
    width: 160px;
    cursor: pointer;
    padding-left: 15px;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}


nav {
    flex: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding-left: 16px;
}

form {
    display: grid;
    padding: 1em;
    background: #b8d8be;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 700px;
    padding: 1em;
}

form input {
    background: #fff;
    border: 1px solid #9c9c9c;
}

form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
}

label {
    padding: 0.5em 0.5em 0.5em 0;
}

input:focus {
    outline: 3px solid gold;
}

@media (min-width: 400px) {
    form {
        grid-template-columns: 200px 1fr;
        gap: 16px;
    }

    label {
        text-align: right;
        grid-column: 1 / 2;
    }

    input,
    button {
        grid-column: 2 / 3;
    }
}
/*
fieldset {
    border: 1px solid rgb(255,232,57);
    width: 400px;
    margin: auto;
}
*/
